<div class="container">
  <h1 class="mt-3">Mon Profil</h1>
  <div class="card w-100 my-3">
    <%= cl_image_tag @user.avatar.key, height: 300, width: 150, class: "card-img-top me-3 of-cover" %>
    <div class="card-body">
      <div class="d-flex mb-3">
        <div class="w-50">
          <h3 class="card-title">Pseudo</h3>
          <p class="mb-0"><%= @user.nickname %></p>
        </div>
        <div class="w-50">
          <h3 class="card-title">E-mail</h3>
          <p class="mb-0"><%= @user.email %></p>
        </div>
      </div>
      <div class="mb-3">
        <h3 class="card-title">Adresse</h3>
        <p class="mb-0"><%= @user.address %></p>
      </div>
      <div>
        <h3 class="card-title mb-3">Niveaux</h3>
        <div>
          <div class="mb-3">
            <h4 class="card-title">Musculation</h4>
            <% if @user.musculation_lvl.positive? %>
              <% case @user.musculation_lvl %>
              <% when 1 %>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 33%">Débutant</div>
                </div>
              <% when 2 %>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 66%">Confirmé</div>
                </div>
              <% when 3 %>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 100%">Expert</div>
                </div>
              <% end %>
            <% else %>
              <p class="mb-0">Vous n'avez pas renseigné de niveau pour cette discipline.</p>
            <% end %>
          </div>
          <div class="mb-3">
            <h4 class="card-title">Cardio</h4>
            <% if @user.cardio_lvl.positive? %>
              <% case @user.cardio_lvl %>
              <% when 1 %>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 33%">Débutant</div>
                </div>
              <% when 2 %>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 66%">Confirmé</div>
                </div>
              <% when 3 %>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 100%">Expert</div>
                </div>
              <% end %>
            <% else %>
              <p class="mb-0">Vous n'avez pas renseigné de niveau pour cette discipline.</p>
            <% end %>
          </div>
          <div class="mb-0">
            <h4 class="card-title">Fitness</h4>
            <% if @user.fitness_lvl.positive? %>
              <% case @user.fitness_lvl %>
              <% when 1 %>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 33%">Débutant</div>
                </div>
              <% when 2 %>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 66%">Confirmé</div>
                </div>
              <% when 3 %>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 100%">Expert</div>
                </div>
              <% end %>
            <% else %>
              <p class="mb-0">Vous n'avez pas renseigné de niveau pour cette discipline.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-custom"></div>
</div>
