// Import page-specific CSS files here.
@import "home";

h1, h2, h3, h4 {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

h3 {
  font-size: large;
}

h4 {
  color: $pumpkin;
  font-size: 0.75rem;
}

p {
  font-size: 0.9rem;
}

.star-icon {
  font-size: smaller;
  line-height: 1;
}

.text-bg-pumpkin {
  background-color: $pumpkin;
}

.text-pumpkin {
  color: $pumpkin;
}

.border-pumpkin {
  border-color: $pumpkin !important;
}

.card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .25);
}

.btn-full {
  background-color: $pumpkin;
  color: white;
  border: 2px solid $pumpkin;
  transition: 0.5s;
}

.btn-full-min {
  background-color: $pumpkin;
  color: white;
  border: 2px solid $pumpkin;
  transition: 0.5s;
  font-size: 12px;
}

.btn-full:hover {
  background-color: $orange;
  color: white;
  border: 2px solid $orange;
}

.btn-border {
  background-color: transparent;
  color: $pumpkin;
  border: 2px solid $pumpkin;
  width: 100%;
}

.btn-border:hover {
  background-color: $orange;
  color: white;
  border: 2px solid $orange;
}

.mb-custom {
  margin-bottom: 75px;
}

.of-cover {
  object-fit: cover;
  object-position: center top;
}

.progress {
  height: 30px;
}

.progress-bar {
  background-color: $pumpkin;
}

.ask-btn-block form {
  width: 50%;
}

.custom-label-form {
  font-family: $headers-font;
  text-transform: uppercase;
  color: black;
  font-size: 1.25rem;
}

.form-check fieldset {
  margin-bottom: 0.25rem !important;
}

.language-selector {
  border: 0;
  background-color: transparent;
}

.level-text {
  font-size: 10px;
  margin-bottom: 5px;
}

.dropdown-toggle::after {
  display: inline-block;
  position: relative;
  left: 65%;
}

.dropdown-toggle {
  text-align: left;
}

button:focus:not(:focus-visible) {
  color: $pumpkin !important;
  border: 2px solid $pumpkin;
  background-color: white;
  box-shadow: none;
}

button.accordion-button:hover, button.accordion-button:active {
  color: $pumpkin !important;
  border: 2px solid $pumpkin;
  background-color: white;
  box-shadow: none;
}

.notification-pill {
  width: 20px;
  height: 20px;
  background-color: white;
  position: relative;
  bottom: 40px;
  left: 30px;
  line-height: 1.75;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
}
