<% if user_signed_in? %>
  <% @answers_notifications.each do |notification| %>
    <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
      <%= notification.params[:answer] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% notification.destroy %>
  <% end %>
<% end %>
