  <div class="card d-flex flex-row">
    <%= image_tag @gym.logo, alt: "logo", width: 75, height: 75, class: "rounded" %>
    <div class="card-body">
      <h5><%= @gym.name %></h5>
      <p><%= @gym.address %></p>
    </div>
  </div>
