<div class="navbar-container">
  <%= link_to gyms_path do %>
    <li class="list-navbar-search"><ion-icon name="search-outline"><% link_to %></ion-icon></li>
  <% end %>
  <%= link_to events_path do %>
    <li class="list-navbar"><ion-icon name="calendar-outline"></ion-icon></li>
  <% end %>

    <li class="list-navbar"><ion-icon name="add-circle-outline"></ion-icon></li>


    <li class="list-navbar"><ion-icon name="chatbubbles-outline"></ion-icon></li>


    <li class="list-navbar"><ion-icon name="person-circle-outline"></ion-icon></li>


        <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
            <li class="list-navbar"><ion-icon name="person-circle-outline"></ion-icon></li>
          <% end %>
</div>
