
  <div class="navbar-container">

    <li class="list-navbar"><ion-icon name="menu-outline"></ion-icon></li>
    <li class="list-navbar"><ion-icon name="calendar-outline"></ion-icon></li>
    <li class="list-navbar-search"><ion-icon name="search-outline"></ion-icon></li>
    <li class="list-navbar"><ion-icon name="chatbubbles-outline"></ion-icon></li>
    <li class="list-navbar"><ion-icon name="person-circle-outline"></ion-icon></li>

  </div>
