// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
  border: solid 1px #a5a5a5;

}

.sender-style {
  background-color: #cdcdcd;
}

.receiver-style {
  background-color: #FF8C00;
}
